.top {
    width: 100%;
    height: 67px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #E8833A;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C3CFD9;
}

.back {
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 5%;
    top: calc(67px/2 - 15px);
    cursor: default;
    transition-duration: 0.5s;
}

.back:hover,
.back:active {
    background-color: #E8833A;
    color: #FFFFFF;
}